/*Global*/

$color-main: #636e72;
$color-light: #fff;

$font-text: "Raleway", Sans-Serif;
$font-header: "Open Sans", Sans-Serif;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    margin: 0;
    text-align: center;
    background: $color-light;
    color: #3d3d3d;
    font-size: 16px;
    line-height: 1.7;
    font-family: $font-text;
  }

  /* Splash */
  .splash {
    height: 100vh;
    position: relative;
    background-image: url("https://images.pexels.com/photos/163185/old-retro-antique-vintage-163185.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
  }

  .splash-inner {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .page-title {
    color: $color-light;
    font-size: 65px;
    margin: 48px 0 0 0;
    position: relative;
    font-family: $font-header;
    text-transform: uppercase;
  }

  .page-subtitle {
    color: $color-light;
    font-size: 30px;
    margin: 48px 0 0 0;
    text-transform: capitalize;
  }

  .splash-button {
      background-color:rgb(252, 202, 41);
      border: none;
      color: $color-light;
      text-transform: uppercase;
      width: 180px;
      height: 50px;
      font-size: 14px;
  }